@charset "UTF-8";
body { 
  font-family: 'Overpass Mono', monospace;
	text-align: left;
  background-color: #000000;
  color: #ffffff;
}
h1 {
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: solid 4px;
}
.footer {
	font-size: 10px;
}
.jumbotron {
	width: 100%;
  height: auto;
	background-image: url("https://www.lopp.net/images/bkg-2.webp");
  background-size: cover;
}
.jumbotron a:link {
	color: #ffffff;
	text-decoration: none;
}
.jumbotron a:hover {
	color: #ff0000;
	text-decoration: underline;
}
.jumbotron a:active {
	color: #deb903;
	text-decoration: none;
}
.jumbotron a:visited {
	color: #ffffff;
	text-decoration: none;
}
.inner-background {
	width: 100%;
  height: auto;
	background-image: url("https://www.lopp.net/images/bkg-2.webp");
  background-size: cover;
}
.well {
	font-size: 11px;
}
.btn {
	background-color: #deb903;
	border: #deb903;
}
.btn:hover {
	background-color: #808080;
	border: #808080;
}
.row {
  color: #ffffff;
}
.navbar {
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-brand {
  padding-left: 0px;
}
.navbar-brand a:hover {
  color: #deb903;
}
.navbar-brand a:visited:hover {
  color: #ffffff;
}
.navbar {
  background-color: #000000;
  color: #ffffff;
  border: 0px;
}
.navbar a:link {
  color: #ffffff;
  text-decoration: none;
}
.navbar a:hover {
  color: #deb903;
  text-decoration: none;
}
.navbar a:active {
  color: #000000;
  text-decoration: none;
}
.navbar a:visited {
  color: #ffffff;
  text-decoration: none;
}
.navbar a:visited:hover {
  color: #deb903;
  text-decoration: none;
}
.navbar li a:link {
  color: #ffffff;
  text-decoration: none;
}
.navbar li a:hover {
  color: #deb903;
  text-decoration: none;
}
.navbar li a:active {
  color: #000000;
  text-decoration: none;
}
.navbar li a:visited {
  color: #ffffff;
  text-decoration: none;
}
.section {
  background-color: #000000;
  color: #ffffff;
  border: 0px;
}
/* Increase line spacing on mobile to improve tap target UX */
li a {
  line-height:2.5;
}
@media (min-width: 60em) {
  li a {
    line-height:2.5;
  }
}
a:link {
	color: #deb903;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
}
a:active {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #ff0000;
	text-decoration: none;
}
a:visited:hover {
  color: #deb903;
  text-decoration: none;
}
.date {
	font-size: 10px;
	color: #626262;
	letter-spacing: 1px;
	line-height: 30px;
}
.videowrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #000000; /* Otherwise white text on white background is illegible */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #deb903;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #808080;
}
.error {
	color: #FF0000;
}
iframe {
  border: none;
  scrolling: no;
}
@media (min-width: 768px) {
  .media {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .media {
    height: 275px;
  }
}
@media (min-width: 1200px) {
  .media {
    height: 225px;
  }
}
@media (min-width: 768px) {
  .vid {
	text-align: center;
    height: 325px;
  }
}
@media (min-width: 992px) {
  .vid {
	text-align: center;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .vid {
	text-align: center;
    height: 450px;
  }
}
@media (min-width: 768px) {
  .audio {
	text-align: center;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .audio {
	text-align: center;
	height: 150px;
  }
}
@media (min-width: 1200px) {
  .audio {
	text-align: center;
    height: 150px;
  }
}

/* sprites for footer icons */
.github, .keybase, .pgp, .twitter, .earn {
  display: inline-block; background: url('https://www.lopp.net/images/icons.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.github { background-position: -0px -20px; width: 24px; height: 20px; }
.github:hover { background-position: -0px -0px; width: 24px; height: 20px; }
.keybase { background-position: -0px -60px; width: 24px; height: 20px; }
.keybase:hover { background-position: -0px -40px; width: 24px; height: 20px; }
.pgp { background-position: -0px -100px; width: 24px; height: 20px; }
.pgp:hover { background-position: -0px -80px; width: 24px; height: 20px; }
.twitter { background-position: -0px -140px; width: 24px; height: 20px; }
.twitter:hover { background-position: -0px -120px; width: 24px; height: 20px; }
.earn { background-position: -0px -180px; width: 20px; height: 20px; }
.earn:hover { background-position: -0px -160px; width: 20px; height: 20px; }

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("https://www.lopp.net/images/playvideo.png") no-repeat;
    cursor: pointer;
}

/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Overpass Mono Light'), local('OverpassMono-Light'), url(https://www.lopp.net/fonts/overpassmono/_Xm3-H86tzKDdAPa-KPQZ-AC3oSWo_6XBkZf.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Overpass Mono Light'), local('OverpassMono-Light'), url(https://www.lopp.net/fonts/overpassmono/_Xm3-H86tzKDdAPa-KPQZ-AC3oSWo_CXBg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url(https://www.lopp.net/fonts/overpassmono/_Xmq-H86tzKDdAPa-KPQZ-AC1iG0ts-2.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url(https://www.lopp.net/fonts/overpassmono/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0tg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Overpass Mono SemiBold'), local('OverpassMono-SemiBold'), url(https://www.lopp.net/fonts/overpassmono/_Xm3-H86tzKDdAPa-KPQZ-AC3vCQo_6XBkZf.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Overpass Mono SemiBold'), local('OverpassMono-SemiBold'), url(https://www.lopp.net/fonts/overpassmono/_Xm3-H86tzKDdAPa-KPQZ-AC3vCQo_CXBg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Overpass Mono Bold'), local('OverpassMono-Bold'), url(https://www.lopp.net/fonts/overpassmono/_Xm3-H86tzKDdAPa-KPQZ-AC3pSRo_6XBkZf.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Overpass Mono Bold'), local('OverpassMono-Bold'), url(https://www.lopp.net/fonts/overpassmono/_Xm3-H86tzKDdAPa-KPQZ-AC3pSRo_CXBg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
Dark / light toggle switch
F5EB42 - sun inner
E4C74D - sun outer
FFFFFF - cloud inner
D4D4D2 - cloud outer
81C0D5 - parent outer
C0E6F6 - parent inner
FFFDF2 - moon inner
DEE1C5 - moon outer
FCFCFC - stars
*/
.wrapper {
  text-align: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 60px;
  margin-left: 100px;
  padding: 4px;  
  border-radius: 40px;
}

.toggle:before,
.toggle:after {
  content: '';
  display: table;
}

.toggle:after {
  clear: both;
}

.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;  
  height: 100%;
  background-color: #C0E6F6;
  border-radius: 40px;
  border: 4px solid #81C0D5;
  transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 60px;
  background-color: #F5EB42;
  border: 4px solid #E4C74D;
  border-radius: 50%;
  transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-switch-figure {  
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 40px;
  border: 8px solid #D4D4D2;
  border-radius: 20px;  
  background-color: #fff;
  transform: scale(0.6);
  transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-switch-figure:after {
  content: '';
  display: block;
  position: relative;
  top: -45px;
  right: -32px;
  width: 25px;
  height: 15px;
  border: 8px solid #D4D4D2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(50deg);
  background-color: #fff;
}
.toggle-switch-figure:before {
  content: '';
  display: block;
  position: relative;
  top: -20px;
  right: -5px;
  width: 35px;
  height: 30px;
  border: 8px solid #D4D4D2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(30deg);
  background-color: #fff;
}

.toggle-switch-figureAlt {
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #EFEEDA;
  border-radius: 100%;
  border: 4px solid #DEE1C5;

  box-shadow: 
    42px -7px 0 -2px #FCFCFC,
    75px -10px 0 -2px #FCFCFC,
    54px 4px 0 -3px #FCFCFC,
    83px 7px 0 -1px #FCFCFC,
    63px 18px 0 -3px #FCFCFC,
    44px 28px 0 -1px #FCFCFC,
    78px 23px 0 -2px #FCFCFC;
  
  transition: all .2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transform: scale(0);
}

.toggle-switch-figureAlt:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 18px;
  width: 7px;
  height: 7px;
  background-color: #EFEEDA;
  border-radius: 100%;
  border: 4px solid #DEE1C5;
}

.toggle-switch-figureAlt:after {
  content: '';
  position: absolute;
  top: 19px;
  left: 15px;
  width: 2px;
  height: 2px;
  background-color: #EFEEDA;
  border-radius: 100%;
  border: 4px solid #DEE1C5;
}

.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #DEE1C5;
  background-color: #FFFDF2;
}

.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}