@charset "UTF-8";
input[type=checkbox] {display: none;}input[type=checkbox] + label {padding:8px 0 0 4px;display: inline-block;font-size: 22px;}
input[type=checkbox] + label:before {content: "\f185";display: inline-block;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;font-family: FontAwesome;}
input[type=checkbox]:checked + label:before {content: "\f186";display: inline-block;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;font-family: FontAwesome;}
