@charset "UTF-8";
body { 
  font-family: 'Overpass Mono', monospace;
	text-align: left;
}
.navbar {
	font-weight: 300;
	text-transform: uppercase;
}
.navbar-brand {
	padding-left: 0px;
}
.navbar-default .navbar-brand a:hover {
  color: #deb903;
}
#myDefaultNavbar1 a:link {
  font-weight: normal;
}
#myDefaultNavbar1 .active a:link {
  font-weight: bold;
}
h1 {
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: solid 4px;
}
.footer {
	font-size: 10px;
}
.jumbotron {
	width: 100%;
  height: auto;
	background-image: url("https://www.lopp.net/images/bkg-1.webp");
  background-size: cover;
}
.jumbotron a:link {
	color: #000000;
	text-decoration: none;
}
.jumbotron a:hover {
	color: #000000;
	text-decoration: underline;
}
.jumbotron a:active {
	color: #000000;
	text-decoration: none;
}
.jumbotron a:visited {
	color: #000000;
	text-decoration: none;
}
.inner-background {
	width: 100%;
  height: auto;
	background-image: url("https://www.lopp.net/images/bkg-1.webp");
  background-size: cover;
}
.inner-background-dark {
	width: 100%;
  height: auto;
	background-image: url("https://www.lopp.net/images/bkg-2.webp");
  background-size: cover;
}
.well {
	font-size: 11px;
}
.btn {
	background-color: #deb903;
	border: #deb903;
}
.btn:hover {
	background-color: #808080;
	border: #808080;
}
a:link {
	color: #deb903;
	text-decoration: none;
  font-weight: bold;
}
a:hover {
	color: #000000;
	text-decoration: none;
}
a:active {
	color: #000000;
	text-decoration: none;
}
a:visited {
  color: #ff0000;
  text-decoration: none;
}
a:visited:hover {
  color: #deb903;
  text-decoration: none;
}
.date {
	font-size: 10px;
	color: #626262;
	letter-spacing: 1px;
	line-height: 30px;
}
.videowrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #deb903;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #808080;
}
.error {
	color: #FF0000;
}
iframe {
  border: none;
  scrolling: no;
}
@media (min-width: 768px) {
  .media {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .media {
    height: 275px;
  }
}
@media (min-width: 1200px) {
  .media {
    height: 225px;
  }
}
@media (min-width: 768px) {
  .vid {
	text-align: center;
    height: 325px;
  }
}
@media (min-width: 992px) {
  .vid {
	text-align: center;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .vid {
	text-align: center;
    height: 450px;
  }
}
@media (min-width: 768px) {
  .audio {
	text-align: center;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .audio {
	text-align: center;
	height: 150px;
  }
}
@media (min-width: 1200px) {
  .audio {
	text-align: center;
    height: 150px;
  }
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("https://www.lopp.net/images/playvideo.png") no-repeat;
    cursor: pointer;
}