Options +FollowSymlinks 
AddType x-mapp-php5 .php
Options -MultiViews
RewriteEngine On
RewriteRule ^[b|B][i|I][t|T][c|C][o|O][i|I][n|N]$ /bitcoin.html [R=301]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://lopp.net/$1 [R=301,L]
