@charset "UTF-8";
body { 
    font-family: 'Overpass Mono', monospace;
	text-align: left;
}
.navbar {
	font-weight: 300;
	text-transform: uppercase;
}
.navbar-brand{
	padding-left: 0px;
}
h1 {
    font-family: 'Overpass Mono', monospace;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: solid 4px;
}
.footer {
	font-size: 10px;
}
.jumbotron {
	width: 100%;
    height: auto;
	background-image: url(images/bkg-1.jpg);
    background-size: cover;
}
.jumbotron a:link {
	color: #000000;
	text-decoration: none;
    border-bottom: 2px solid #000000;
}
.jumbotron a:hover {
	color: #000000;
	text-decoration: underline;
}
.jumbotron a:active {
	color: #000000;
	text-decoration: none;
}
.jumbotron a:visited {
	color: #000000;
	text-decoration: none;
}
.inner-background {
	width: 100%;
    height: auto;
	background-image: url(images/bkg-1.jpg);
    background-size: cover;
}
.well{
	font-size: 11px;
}
.btn{
	background-color: #deb903;
	border: #deb903;
}
.btn:hover{
	background-color: #808080;
	border: #808080;
}

a:link{
	color: #deb903;
	text-decoration: none;
}
a:hover{
	color: #000000;
	text-decoration: none;
}
a:active{
	color: #000000;
	text-decoration: none;
}
a:visited{
	color: #ff0000;
	text-decoration: none;
}
.date{
	font-size: 10px;
	color: #626262;
	letter-spacing: 1px;
	line-height: 30px;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #deb903;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #808080;
}
.error {
	color: #FF0000;
}
@media (min-width: 768px) {
  .media {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .media {
    height: 275px;
  }
}
@media (min-width: 1200px) {
  .media {
    height: 225px;
  }
}
@media (min-width: 768px) {
  .vid {
	text-align: center;
    height: 325px;
  }
}
@media (min-width: 992px) {
  .vid {
	text-align: center;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .vid {
	text-align: center;
    height: 450px;
  }
}
@media (min-width: 768px) {
  .audio {
	text-align: center;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .audio {
	text-align: center;
	height: 150px;
  }
}
@media (min-width: 1200px) {
  .audio {
	text-align: center;
    height: 150px;
  }
}
